<!DOCTYPE html>
<html>
<head>

	<title></title>


	<meta name='viewport', content='width=device-width, initial-scale=1'>

    <link rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
      
    <link href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css'>
    <link rel="stylesheet" href="/fonts/style.css">
        
    <link href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css'>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

   

</head>

<body style='margin: 0px; padding: 0px; background: white; padding: 0px; text-align: center;'>


	<div class='color_back' style='width: 100%; margin: 0 auto; max-width: 600px; background: white; padding: 5px;'>

		<h2 class='text2' style='color: #0080ff; font-size: 30px; padding: 8px; margin: 0 0 0px; margin-bottom: 10px; font-family: 'Montserrat', sans-serif;'>Everest</h2>


		<div style="padding-bottom: 10px; border-bottom: 1px solid #8c8c8c;">
			
			<h3 style='font-size: 14px; color: #4d4d4d; text-align: left;'>Bienvenido, </h3>

			<h3 style='font-size: 14px; color: #737373; text-align: left; letter-spacing: 0.3px; font-family: 'Montserrat', sans-serif;'> Este es el correo para que pueda restaurar su contraseña. Si usted no ha solicitado ninguna restauración, por favor, ignore este mensaje. Si ha realizado esta solicitud, por favor, continue dando click en el siguiente botón: </h3>

			<a href='http://localhost:8080/Everest/passwordReset/newRequest/procedure/user[0]._id', style="cursor: pointer;">
				<button name='', id='', style="background: #0080ff; width: 50%; padding: 5px; color: white; border: #19e3ce; border-radius: 4px;"> Restaurar mi contraseña </button>
			</a>

		</div>

		<h4 style='margin: 0 0 0px; text-align: left; color: #737373; padding-top: 10px;'> Muchas gracias, </h4>
		<h4 style='margin: 0 0 0px; text-align: left; color: #737373; padding-top: 5px;'> Grupo Everest </h4>


		<div style='margin: 0 auto; width: 100%; margin-top: 10px; margin-bottom: 10px;'>
			
			<ul style='display: inline-flex; padding: 0 0 0px; margin: 0 0 0px;'>
				<li style='list-style: none; padding: 0 0 0px; margin: 0 0 0px;'>
					<a href="#", style="text-decoration: none; color: #0080ff">Términos y condiciones</a>
				</li>
				
			</ul>

		</div>
			

		<h4 style='color: #737373; font-size: 12px;'> Copyright 2018 Everest todos los derechos reservados </h4>
		<h4 style='color: #737373; font-size: 12px;'> Av. El Derby 575 torre 1 dep. 201, Santiago de Surco, Lima, Perú</h4>
		

	</div>

</body>

</html>