doctype html
html
  head
    meta(charset='utf-8')
    title  Dintair
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="icon" href="/images/dintair/dintair_logo_favicon.png")
      
    link(rel='stylesheet', href='/stylesheets/estilosforusers.css')

    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

    link(rel="stylesheet" href="/fonts/style.css")

    link(href="/cropImage/dist/rcrop.min.css" rel="stylesheet")
        
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    script(src='/javascripts/Searching/search.js')

    script(src='/socket.io/socket.io.js', charset='utf-8') 
     
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous") 

    script(src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js")
    
    
    

  body

    style(text/css).
      
    div
      input(type='file')

      div(id='cropped-original')
      
  script(src='/javascripts/cropImage/cropAndPut.js')

  script(src="//code.jquery.com/jquery.min.js")
  script(src="/cropImage/dist/rcrop.min.js")
   

    
   