extends ../templates/forErrors/defaultforError

block content
  body.error404

    div.content_error

      div.content_text_error
        h3 

        h2 Este concurso ya finalizó

        a(href='/')
          button Volver a Dintair