extends navforsignin

block content

  body.body
    .center_pass_reset

      .div_center
        div.content_window
          a(href='/Dintair/passwordReset/new')
            

        div.first_window

          img.dintair(src='https://res.cloudinary.com/drdmb9g49/image/upload/v1539535590/Dintair%20images/dintair_iso.png')

          if messageReset.length > 0
            p.messageReset<strong></strong> #{messageReset}

          h2.title_access Ingrese el correo que utilizó para registrarse

          form(action='/Dintair/passwordReset/new', method='post')
            input#comp_email.input-email(type='email', placeholder='', name='username')

            div._btn_corroborate
              input._corroborate(type='submit', value='Corroborar correo')
      
script(src='/javascripts/outlines-boxes.js')