extends ../../templates/forusers/HomePage/default

block content

  section.environmentUsers

    div.btn_left_side
      div.titlePage  
        a(href='/Dintair/chocolatina/addproduct')
          img.xicon(src='/images/icons/xicon.png')
          button() Nuevo producto


    div.products_list
      p Lista de productos