extends ../../../templates/forcatalogs/defaultforcatalogs

block content

  div.globalviewcatalogs
    div.catalogs_space
      div.title(style='background-image:url("/images/defaultimages/makicapchi/chan-chan.jpg")')
        div.makitext
          img(src='/images/defaultimages/makicapchi/maki2.png')



    div.multpart



    section#timeline

      h4 Mochica en cinco pasos

      .demo-card-wrapper
        .demo-card.demo-card--step1
          .head
            .number-box
              span 01
            h2 Cultura Mochica
          .body
            p
              | La Cultura Mochica o Moche, destacan en sus cerámicas consideradas los mejores del Perú antiguo así como también en su arquitectura representadas en la Huaca del Sol y de la Luna.
            img(alt='Graphic', src='/images/defaultimages/makicapchi/cultura-moche.jpg')
        .demo-card.demo-card--step2
          .head
            .number-box
              span 02
            h2 Surgimiento
          .body
            p
              | La cultura mochica surgieron en el Intermedio Temprano, entre los años 100 y 800 d.C. desarrollándose en el norte del Perú.
            img(alt='Graphic', src='/images/defaultimages/makicapchi/cultura-moche-2-1024x512.jpg')
        .demo-card.demo-card--step3
          .head
            .number-box
              span 03
            h2 Ubicación
          .body
            p
              | La cultura Mochica se estableció en la costa norte, entre los valles de Lambayeque y Huarmey. Tenía como centro cultural el valle de Moche y Virú cerca de Trujillo .
            img(alt='Graphic', src='/images/defaultimages/makicapchi/Mapa_Moche.png')
        .demo-card.demo-card--step4
          .head
            .number-box
              span 04
            h2 Actividades económicas
          .body
            p
              | Tenían una gran técnica en la agricultura por el uso de canales de irrigación para el cultivo de alimentos como la yuca, pepino, maíz, lúcuma, calabaza, entre otras. De la misma forma en la ganadería, en el cual domesticaban auquénidos.
            img(alt='Graphic', src='/images/defaultimages/makicapchi/agricultura-wari.png')
        .demo-card.demo-card--step5
          .head
            .number-box
              span 05
            h2 Cerámica
          .body
            p
              | El Huaco Retrato es de las representaciones más famosas en la cultura. Alcanzó su mayor desarrollo en cerámica de sólo dos colores, características que reflejan escenas religiosas, mitológicas y de la vida cotidiana.
            img(alt='Graphic', src='/images/defaultimages/makicapchi/vasos-del-primer-y-segundo-perc3adodo-ceramio-de-la-cultura-mochica-los-relieves-producen-figuras-de-animales-y-escenas-guerreras-y-mi.jpg')



    footer
      div.myspace
        a.btn_in(href='/Dintair/es/Signup') Registrarse
      div.myspace
        a.btn_in(href='/Dintair/es/Signin') Iniciar sesión
      div.myspace
        a.btn_in(href='/Dintair/companies/catalogs') Catálogo
      div.myspace
        a.btn_in(href='/Dintair/privacyPolice', target='_blank') Política de privacidad
      div.myspace
        a.btn_in(href='/Dintair/termsOfUse', target='_blank') Condiciones de uso
      
      div.footer_2
        img(src='/images/dintair/dintaircover.png')
        p © Copyright 2019, Dintair, All rights reserved