extends ../../templates/forusers/defaultforusers

block content
  .prod-start.col-lg-10.col-md-10.col-sm-10.col-xs-12
    .startuser_page

      .NoCatch
        

        img.noCatch(src='/images/no_catch-01.jpg')

        h2.nocatch Familiar no encontrado

